@import "tailwindcss";

:root {
  --background: var(--color-gray-background);
  --foreground: #59f1be;
  --shadow-Jerlapive:
    0 4px 6px -1px rgb(99 247 193 0.1), 0 2px 4px -2px rgb(99 247 193 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-black-light: #2a2d2e;
  --color-black-lighter: #3b3e40;
  --color-gray-background: #40484a;
  --color-jerlapive-shadow: #63f7c1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .nav-link {
    background-color: var(--bg-gray-background);
    padding: calc(var(--spacing) * 4);

    @variant hover {
      box-shadow: 0 10px 15px -3px rgb(99 247 193), 
                  0 4px 6px -4px rgb(99 247 193);
      border-radius: 8px;
    }
  }
}
